@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Montserrat:wght@300&family=Source+Serif+4:opsz,wght@8..60,300&family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #191919;
}

ul{
    display: flex;
}

ul a li{
    font-family: 'Tangerine';
    font-weight: 400;
    font-size: 36px;
    padding: 20;
    color: #ffffff;
}

ul a li:hover{
    color: rgb(255, 173, 173);
}

#check{
    display: none;
}

.menu-hamburguer{
    display: none !important;
    color: white;
    font-size: 2rem;
}

header h2{
    font-family: 'Tangerine';
    font-weight: 400;
    font-size: 50px;
    padding: 10;
    color: #ffffff;
}

header h2 span{
    color: brown;
}

.home{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    background-image: url(./Imagenes/fondohome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 60% auto auto;
    gap: 10px;
}

.home .column-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home .column-img img{
    width: 100%;
    height: 40%;
}

.home .column-text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .column-text h2{
    color: burlywood;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 50px;
}

.home .column-text p{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 24px;
}

.home .column-text a{
    color: #ffffff;
    font-family: 'Montserrat';
    font-size: 19px;
    font-weight: 300;
    background-color: burlywood;
    padding: 30;
    border-radius: 35px;
}

.home .column-text a,
.home .column-text h2,
.home .column-text p{
    margin: 15px;
    text-align: center;
}

.home .column-text a:hover{
    background-color: rgb(223, 203, 178);
    color: #101010;
}

.coffe-menu{
    background-color: #101010;
    width: 100%;
    height: 100vh;
}

.coffe-menu .text{
    font-family: 'Tangerine';
    font-size: 54px;
    text-align: center;
    color: burlywood;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffe-menu .grid{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 80%;
    width: 100%;
    grid-template-columns: 30% 30%;
    grid-template-rows: 15% 15% 15% 15% 15%;
    gap: 30px;
}

.coffe-menu .grid .column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 10px 0px grey
}

.coffe-menu .grid .column h3,
.tea-menu .grid .column h3{
    font-family: 'Tangerine';
    font-size: 38px;
}

.coffe-menu .grid .column h4,
.tea-menu .grid .column h4{
    font-family: 'Source Serif 4';
    font-size: 16px;
}


.coffe-menu .grid .column h3,
.tea-menu .grid .column h3,
.coffe-menu .grid .column h4,
.tea-menu .grid .column h4{
    margin: 20; 
}

.tea-menu{
    background-color: #121212;
    width: 100%;
    height: 100vh;
}

.tea-menu .text{
    font-family: 'Tangerine';
    font-size: 54px;
    text-align: center;
    color: burlywood;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tea-menu .grid{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 80%;
    width: 100%;
    grid-template-columns: 30% 30%;
    grid-template-rows: 15% 15% 15% 15% 15%;
    gap: 30px;
}

.tea-menu .grid .column{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0px 0px 10px 0px grey
}

.contact-us{
    height: 70vh;
    width: 100%;
    background-color: #101010;
}

.contact-us .column-text{
    font-family: 'Tangerine';
    font-size: 54px;
    text-align: center;
    color: burlywood;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact-us .grid{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 80%;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 45%;
    gap: 20px;
}

.contact-us .grid .column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    border-radius: 10px;
}

.contact-us .grid .column i{
    font-size: 28px;
}

.contact-us .grid .column h3,
.contact-us .grid .column p{
    font-family: 'Source Serif 4';
    font-size: 18px;
}

.contact-us .grid .column h3,
.contact-us .grid .column p,
.contact-us .grid .column i{
    color: white;
    margin: 10;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191919;
    width: 100%;
    padding: 50 0 50 0;
}

footer .nav-footer{
    display: flex;
}

footer .nav-footer a{
    font-family: 'Source Serif 4';
    font-size: 18px;
    color: white;
    margin: 20;
}

footer .nav-footer a:hover{
    color: rgb(255, 173, 173);
}

footer .cards-footer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .cards-footer img{
    width: 38px;
    margin: 10;
    padding: 20 0 20 0;
}

@media (min-width: 545px) and (max-width: 1019px) {
    header h2{
        font-size: 40px;
    }

    .menu-hamburguer{
        display: flex !important;
        margin: 10;
    }

    header nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 25rem;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-150%);
        transition: all 0.6s ease;
    }

    #check:checked ~ ul{
        transform: translate(0%);
    }

    .home{
        grid-template-columns: 50% auto auto;
    }

    .home .column-text h2{
        font-size: 24px;
    }

    .home .column-text p{
        font-size: 16px;
    }

    .home .column-text a{
        padding: 20;
        font-size: 14px;
    }

    .coffe-menu .text,
    .tea-menu .text{
        font-size: 40px;
    }

    .coffe-menu .grid,
    .tea-menu .grid{
        grid-template-columns: 45% 45%;
        grid-template-rows: 15% 15% 15% 15% 15%;
    }

    .coffe-menu .grid .column h3,
    .tea-menu .grid .column h3{
        font-size: 32px;
        text-align: center;
    }

    .coffe-menu .grid .column h4,
    .tea-menu .grid .column h4{
        font-size: 14px;
        text-align: center;
    }

    .contact-us .column-text{
        font-size: 40px;
    }

    .contact-us .grid{
        grid-template-columns: 25% 25% 25%;
        grid-template-rows: 70%;
    }

    .contact-us .grid .column h3,
    .contact-us .grid .column p{
        font-size: 15px;
    }
}

@media (min-width: 320px) and (max-width: 544px){
    header h2{
        font-size: 40px;
    }

    .menu-hamburguer{
        display: flex !important;
        margin: 10;
        font-size: 1.5rem;
    }

    header nav ul{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 25rem;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(-150%);
        transition: all 0.6s ease;
    }

    #check:checked ~ ul{
        transform: translate(0%);
    }

    .home{
        grid-template-columns: 50% auto auto;
    }

    .home .column-text h2{
        font-size: 24px;
    }

    .home .column-text p{
        font-size: 16px;
    }

    .home .column-text a{
        padding: 20;
        font-size: 14px;
    }

    .coffe-menu .text,
    .tea-menu .text{
        font-size: 40px;
    }

    .coffe-menu .grid,
    .tea-menu .grid{
        grid-template-columns: 45% 45%;
        grid-template-rows: 15% 15% 15% 15% 15%;
        gap: 20px;
    }

    .coffe-menu .grid .column h3,
    .tea-menu .grid .column h3{
        font-size: 28px;
        text-align: center;
    }

    .coffe-menu .grid .column h4,
    .tea-menu .grid .column h4{
        font-size: 12px;
        text-align: center;
    }

    .coffe-menu .grid .column h3,
    .tea-menu .grid .column h3,
    .coffe-menu .grid .column h4,
    .tea-menu .grid .column h4{
        margin: 5;     
    }

    .contact-us .column-text{
        font-size: 40px;
    }

    .contact-us .grid{
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 55%;
        gap: 10px;
    }

    .contact-us .grid .column h3,
    .contact-us .grid .column p{
        font-size: 15px;
    }

    footer .nav-footer a{
        font-size: 12px;
        text-align: center;
    }
}